{%extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'browse/profile.css' %}">

{% endblock %}
{% block body%}<br><br>
{%if profile.team != None%}
<h1>your team's shirts:</h1>
<p>click on an image to edit the shirt</p>
<a id="img" href={% url "browse:createShirt" %}>
        create new shirt
        </a>
        <br>
        <br>
{%for i in shirts%}
    <a id="img" href={% url "browse:editShirt" shirtID=i.pk %}>
            <img src={{ i.shirtImg }}>
        </a>

{%endfor%}
{%else%}
You do not have a team set in your profile. Add your team number to view your team's shirts.
{%endif%}

{% endblock%}